@model List<Message>
@{
        foreach(Message m in Model)
        {   
            <div class="pl-3 font-weight-bold text-primary">@m.Creator.Name - @m.UpdatedAt
            </div>
            <div class="pl-3 py-2">@m.MessageContent</div>
            <div class="my-4 row col-sm-3">
                <a id="new-comment" class="col text-success" style="cursor: pointer;" onclick="showModal('/newcommentpartial/@m.MessageId', 'New Comment')"><i class="fa fa-comment"></i></a>
                @{
                    if(m.Creator == ViewBag.curuser)
                    {
                        <a id="edit-message" class="col text-info" style="cursor: pointer;" onclick="showModal('/editmessagepartial/@m.MessageId', 'Edit Message')"><i class="fas fa-pencil-alt"></i></a>

                        <partial name="_DeleteMessage" model="m"/>
                    }
                }
            </div>
            <hr>
            
            if(m.CommentsForMessage.Count>0)
            {
                <p class="pl-3 font-weight-bold">Comment:</p>
                foreach(Comment c in m.CommentsForMessage)
                {
                    <div class="pl-5 font-weight-bold text-primary">
                        <span>@c.Creator.Name - @c.CreatedAt</span>
                    
                    @{

                        if(c.Creator == ViewBag.curuser)
                        {
                            <partial name="_DeleteComment" model="c"/>
                        }
                    }
                    </div>
                    <div class="pl-5 py-2 mb-4">
                        @c.CommentContent
                    </div>
                    <hr>
                }
            }
        }
}